<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo ">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: red; margin-top: 50px; text-align: center;">Fim de jogo, você perdeu!</h3>
                <button class="btn btn-primary" style="display: block; margin: auto; margin-top: 40px;"(click)="reiniciarJogo()">Reiniciar</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: green; margin-top: 50px; text-align: center;">Ó os deuses mano!</h3>
                <button class="btn btn-primary" style="display: block; margin: auto; margin-top: 40px;" (click)="reiniciarJogo()">Reiniciar</button>
            </div>
        </div>
    </div>
</ng-template>